# **Setting Spark**

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [ ]:
!wget --no-check-certificate \
    https://downloads.apache.org/spark/spark-3.0.1/spark-3.0.1-bin-hadoop2.7.tgz \
    -O /content/spark-2.4.4-bin-hadoop2.7.tgz

--2021-01-17 06:55:28--  https://downloads.apache.org/spark/spark-3.0.1/spark-3.0.1-bin-hadoop2.7.tgz
Resolving downloads.apache.org (downloads.apache.org)... 88.99.95.219, 2a01:4f8:10a:201a::2
Connecting to downloads.apache.org (downloads.apache.org)|88.99.95.219|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 219929956 (210M) [application/x-gzip]
Saving to: ‘/content/spark-2.4.4-bin-hadoop2.7.tgz’

/content/spark-2.4. 100%[===================>] 209.74M  25.7MB/s    in 8.9s

2021-01-17 06:55:38 (23.6 MB/s) - ‘/content/spark-2.4.4-bin-hadoop2.7.tgz’ saved [219929956/219929956]

In [ ]:
!tar xf spark-2.4.4-bin-hadoop2.7.tgz

In [ ]:
!pip install -q findspark

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/f0/26/198fc8c0b98580f617cb03cb298c6056587b8f0447e20fa40c5b634ced77/pyspark-3.0.1.tar.gz (204.2MB)
     |████████████████████████████████| 204.2MB 76kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 46.7MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.0.1-py2.py3-none-any.whl size=204612242 sha256=6779294e50a1778db23505df529d60fd72e9b309a4744abab92a107b532f9e87
  Stored in directory: /root/.cache/pip/wheels/5e/bd/07/031766ca628adec8435bb40f0bd83bb676ce65ff4007f8e73f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.0.1

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.1-bin-hadoop2.7"

In [ ]:
import findspark
findspark.init("spark-3.0.1-bin-hadoop2.7")

In [ ]:
from pyspark import SparkContext
sparkContext = SparkContext.getOrCreate()

# **Input & Pre-Processing Data**

In [ ]:
from __future__ import print_function

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
from sklearn.datasets.samples_generator import make_blobs
from pyspark import SparkContext
from pyspark.ml.clustering import KMeans
from pyspark.ml.feature import VectorAssembler
from pyspark.sql import SQLContext
import pyspark

%matplotlib inline

print (sparkContext.version)

3.0.1

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
!ls

Mounted at /content/drive
drive  sample_data  spark-2.4.4-bin-hadoop2.7.tgz  spark-3.0.1-bin-hadoop2.7

In [ ]:
%cd /content/drive/MyDrive/ABD UAS/
!ls

/content/drive/MyDrive/ABD UAS
dataset.csv

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

data_dir = "dataset.csv"
df = pd.read_csv(data_dir)

df.head()

   id  Number of times pregnant  ...  Age (years)  label
0   1                         6  ...           50      1
1   2                         1  ...           31      0
2   3                         8  ...           32      1
3   4                         1  ...           21      0
4   5                         0  ...           33      1

[5 rows x 10 columns]

In [ ]:
!ls

dataset.csv

# **Read CSV to Spark data frame**

In [ ]:
data_dir = "dataset.csv"
data = pd.read_csv(data_dir)

In [ ]:
sqlContext = SQLContext(sparkContext)

In [ ]:
FEATURES_COL = df.columns[1:8].to_list()
path = 'drive/MyDrive/ABD UAS/dataset.csv'

In [ ]:
df = sqlContext.read.csv(path, header=True) 
df.show()

+---+------------------------+------------------------------------------------------------------------+--------------------------------+---------------------------------+------------------------------+----------------------------------------------+--------------------------+-----------+-----+
| id|Number of times pregnant|Plasma glucose concentration a 2 hours in an oral glucose tolerance test|Diastolic blood pressure (mm Hg)| Triceps skin fold thickness (mm)|2-Hour serum insulin (mu U/ml)|Body mass index (weight in kg/(height in m)^2)|Diabetes pedigree function|Age (years)|label|
+---+------------------------+------------------------------------------------------------------------+--------------------------------+---------------------------------+------------------------------+----------------------------------------------+--------------------------+-----------+-----+
|  1|                       6|                                                                     148|                              72|                               35|                             0|                                          33.6|                     0.627|         50|    1|
|  2|                       1|                                                                      85|                              66|                               29|                             0|                                          26.6|                     0.351|         31|    0|
|  3|                       8|                                                                     183|                              64|                                0|                             0|                                          23.3|                     0.672|         32|    1|
|  4|                       1|                                                                      89|                              66|                               23|                            94|                                          28.1|                     0.167|         21|    0|
|  5|                       0|                                                                     137|                              40|                               35|                           168|                                          43.1|                     2.288|         33|    1|
|  6|                       5|                                                                     116|                              74|                                0|                             0|                                          25.6|                     0.201|         30|    0|
|  7|                       3|                                                                      78|                              50|                               32|                            88|                                            31|                     0.248|         26|    1|
|  8|                      10|                                                                     115|                               0|                                0|                             0|                                          35.3|                     0.134|         29|    0|
|  9|                       2|                                                                     197|                              70|                               45|                           543|                                          30.5|                     0.158|         53|    1|
| 10|                       8|                                                                     125|                              96|                                0|                             0|                                             0|                     0.232|         54|    1|
| 11|                       4|                                                                     110|                              92|                                0|                             0|                                          37.6|                     0.191|         30|    0|
| 12|                      10|                                                                     168|                              74|                                0|                             0|                                            38|                     0.537|         34|    1|
| 13|                      10|                                                                     139|                              80|                                0|                             0|                                          27.1|                     1.441|         57|    0|
| 14|                       1|                                                                     189|                              60|                               23|                           846|                                          30.1|                     0.398|         59|    1|
| 15|                       5|                                                                     166|                              72|                               19|                           175|                                          25.8|                     0.587|         51|    1|
| 16|                       7|                                                                     100|                               0|                                0|                             0|                                            30|                     0.484|         32|    1|
| 17|                       0|                                                                     118|                              84|                               47|                           230|                                          45.8|                     0.551|         31|    1|
| 18|                       7|                                                                     107|                              74|                                0|                             0|                                          29.6|                     0.254|         31|    1|
| 19|                       1|                                                                     103|                              30|                               38|                            83|                                          43.3|                     0.183|         33|    0|
| 20|                       1|                                                                     115|                              70|                               30|                            96|                                          34.6|                     0.529|         32|    1|
+---+------------------------+------------------------------------------------------------------------+--------------------------------+---------------------------------+------------------------------+----------------------------------------------+--------------------------+-----------+-----+
only showing top 20 rows

In [ ]:
lines = sparkContext.textFile(path)
data = lines.map(lambda line: line.split(","))
data.take(2)

[['id',
  'Number of times pregnant',
  'Plasma glucose concentration a 2 hours in an oral glucose tolerance test',
  'Diastolic blood pressure (mm Hg)',
  ' Triceps skin fold thickness (mm)',
  '2-Hour serum insulin (mu U/ml)',
  'Body mass index (weight in kg/(height in m)^2)',
  'Diabetes pedigree function',
  'Age (years)',
  'label'],
 ['1', '6', '148', '72', '35', '0', '33.6', '0.627', '50', '1']]

In [ ]:
df = data.toDF(df.columns)
print (df)
df.show()

DataFrame[id: string, Number of times pregnant: string, Plasma glucose concentration a 2 hours in an oral glucose tolerance test: string, Diastolic blood pressure (mm Hg): string,  Triceps skin fold thickness (mm): string, 2-Hour serum insulin (mu U/ml): string, Body mass index (weight in kg/(height in m)^2): string, Diabetes pedigree function: string, Age (years): string, label: string]
+---+------------------------+------------------------------------------------------------------------+--------------------------------+---------------------------------+------------------------------+----------------------------------------------+--------------------------+-----------+-----+
| id|Number of times pregnant|Plasma glucose concentration a 2 hours in an oral glucose tolerance test|Diastolic blood pressure (mm Hg)| Triceps skin fold thickness (mm)|2-Hour serum insulin (mu U/ml)|Body mass index (weight in kg/(height in m)^2)|Diabetes pedigree function|Age (years)|label|
+---+------------------------+------------------------------------------------------------------------+--------------------------------+---------------------------------+------------------------------+----------------------------------------------+--------------------------+-----------+-----+
| id|    Number of times p...|                                                    Plasma glucose co...|            Diastolic blood p...|              Triceps skin fol...|          2-Hour serum insu...|                          Body mass index (...|      Diabetes pedigree...|Age (years)|label|
|  1|                       6|                                                                     148|                              72|                               35|                             0|                                          33.6|                     0.627|         50|    1|
|  2|                       1|                                                                      85|                              66|                               29|                             0|                                          26.6|                     0.351|         31|    0|
|  3|                       8|                                                                     183|                              64|                                0|                             0|                                          23.3|                     0.672|         32|    1|
|  4|                       1|                                                                      89|                              66|                               23|                            94|                                          28.1|                     0.167|         21|    0|
|  5|                       0|                                                                     137|                              40|                               35|                           168|                                          43.1|                     2.288|         33|    1|
|  6|                       5|                                                                     116|                              74|                                0|                             0|                                          25.6|                     0.201|         30|    0|
|  7|                       3|                                                                      78|                              50|                               32|                            88|                                            31|                     0.248|         26|    1|
|  8|                      10|                                                                     115|                               0|                                0|                             0|                                          35.3|                     0.134|         29|    0|
|  9|                       2|                                                                     197|                              70|                               45|                           543|                                          30.5|                     0.158|         53|    1|
| 10|                       8|                                                                     125|                              96|                                0|                             0|                                             0|                     0.232|         54|    1|
| 11|                       4|                                                                     110|                              92|                                0|                             0|                                          37.6|                     0.191|         30|    0|
| 12|                      10|                                                                     168|                              74|                                0|                             0|                                            38|                     0.537|         34|    1|
| 13|                      10|                                                                     139|                              80|                                0|                             0|                                          27.1|                     1.441|         57|    0|
| 14|                       1|                                                                     189|                              60|                               23|                           846|                                          30.1|                     0.398|         59|    1|
| 15|                       5|                                                                     166|                              72|                               19|                           175|                                          25.8|                     0.587|         51|    1|
| 16|                       7|                                                                     100|                               0|                                0|                             0|                                            30|                     0.484|         32|    1|
| 17|                       0|                                                                     118|                              84|                               47|                           230|                                          45.8|                     0.551|         31|    1|
| 18|                       7|                                                                     107|                              74|                                0|                             0|                                          29.6|                     0.254|         31|    1|
| 19|                       1|                                                                     103|                              30|                               38|                            83|                                          43.3|                     0.183|         33|    0|
+---+------------------------+------------------------------------------------------------------------+--------------------------------+---------------------------------+------------------------------+----------------------------------------------+--------------------------+-----------+-----+
only showing top 20 rows

# **Convert data (toFloat)**

In [ ]:
df_feat = df.select(*(df[c].cast("float").alias(c) for c in df.columns[1:8]))
df_feat.show()

+------------------------+------------------------------------------------------------------------+--------------------------------+---------------------------------+------------------------------+----------------------------------------------+--------------------------+
|Number of times pregnant|Plasma glucose concentration a 2 hours in an oral glucose tolerance test|Diastolic blood pressure (mm Hg)| Triceps skin fold thickness (mm)|2-Hour serum insulin (mu U/ml)|Body mass index (weight in kg/(height in m)^2)|Diabetes pedigree function|
+------------------------+------------------------------------------------------------------------+--------------------------------+---------------------------------+------------------------------+----------------------------------------------+--------------------------+
|                    null|                                                                    null|                            null|                             null|                          null|                                          null|                      null|
|                     6.0|                                                                   148.0|                            72.0|                             35.0|                           0.0|                                          33.6|                     0.627|
|                     1.0|                                                                    85.0|                            66.0|                             29.0|                           0.0|                                          26.6|                     0.351|
|                     8.0|                                                                   183.0|                            64.0|                              0.0|                           0.0|                                          23.3|                     0.672|
|                     1.0|                                                                    89.0|                            66.0|                             23.0|                          94.0|                                          28.1|                     0.167|
|                     0.0|                                                                   137.0|                            40.0|                             35.0|                         168.0|                                          43.1|                     2.288|
|                     5.0|                                                                   116.0|                            74.0|                              0.0|                           0.0|                                          25.6|                     0.201|
|                     3.0|                                                                    78.0|                            50.0|                             32.0|                          88.0|                                          31.0|                     0.248|
|                    10.0|                                                                   115.0|                             0.0|                              0.0|                           0.0|                                          35.3|                     0.134|
|                     2.0|                                                                   197.0|                            70.0|                             45.0|                         543.0|                                          30.5|                     0.158|
|                     8.0|                                                                   125.0|                            96.0|                              0.0|                           0.0|                                           0.0|                     0.232|
|                     4.0|                                                                   110.0|                            92.0|                              0.0|                           0.0|                                          37.6|                     0.191|
|                    10.0|                                                                   168.0|                            74.0|                              0.0|                           0.0|                                          38.0|                     0.537|
|                    10.0|                                                                   139.0|                            80.0|                              0.0|                           0.0|                                          27.1|                     1.441|
|                     1.0|                                                                   189.0|                            60.0|                             23.0|                         846.0|                                          30.1|                     0.398|
|                     5.0|                                                                   166.0|                            72.0|                             19.0|                         175.0|                                          25.8|                     0.587|
|                     7.0|                                                                   100.0|                             0.0|                              0.0|                           0.0|                                          30.0|                     0.484|
|                     0.0|                                                                   118.0|                            84.0|                             47.0|                         230.0|                                          45.8|                     0.551|
|                     7.0|                                                                   107.0|                            74.0|                              0.0|                           0.0|                                          29.6|                     0.254|
|                     1.0|                                                                   103.0|                            30.0|                             38.0|                          83.0|                                          43.3|                     0.183|
+------------------------+------------------------------------------------------------------------+--------------------------------+---------------------------------+------------------------------+----------------------------------------------+--------------------------+
only showing top 20 rows

In [ ]:
for col in df.columns:
    if col in FEATURES_COL:
       # df = df.withColumn(col,df[col].cast('float'),"label", df.label.cast('numeric'))
        df = df.withColumn("label", df.label.cast('numeric'))
df.show()

+---+------------------------+------------------------------------------------------------------------+--------------------------------+---------------------------------+------------------------------+----------------------------------------------+--------------------------+-----------+-----+
| id|Number of times pregnant|Plasma glucose concentration a 2 hours in an oral glucose tolerance test|Diastolic blood pressure (mm Hg)| Triceps skin fold thickness (mm)|2-Hour serum insulin (mu U/ml)|Body mass index (weight in kg/(height in m)^2)|Diabetes pedigree function|Age (years)|label|
+---+------------------------+------------------------------------------------------------------------+--------------------------------+---------------------------------+------------------------------+----------------------------------------------+--------------------------+-----------+-----+
|  1|                       6|                                                                     148|                              72|                               35|                             0|                                            34|                         1|         50|    1|
|  2|                       1|                                                                      85|                              66|                               29|                             0|                                            27|                         0|         31|    0|
|  3|                       8|                                                                     183|                              64|                                0|                             0|                                            23|                         1|         32|    1|
|  4|                       1|                                                                      89|                              66|                               23|                            94|                                            28|                         0|         21|    0|
|  5|                       0|                                                                     137|                              40|                               35|                           168|                                            43|                         2|         33|    1|
|  6|                       5|                                                                     116|                              74|                                0|                             0|                                            26|                         0|         30|    0|
|  7|                       3|                                                                      78|                              50|                               32|                            88|                                            31|                         0|         26|    1|
|  8|                      10|                                                                     115|                               0|                                0|                             0|                                            35|                         0|         29|    0|
|  9|                       2|                                                                     197|                              70|                               45|                           543|                                            31|                         0|         53|    1|
| 10|                       8|                                                                     125|                              96|                                0|                             0|                                             0|                         0|         54|    1|
| 11|                       4|                                                                     110|                              92|                                0|                             0|                                            38|                         0|         30|    0|
| 12|                      10|                                                                     168|                              74|                                0|                             0|                                            38|                         1|         34|    1|
| 13|                      10|                                                                     139|                              80|                                0|                             0|                                            27|                         1|         57|    0|
| 14|                       1|                                                                     189|                              60|                               23|                           846|                                            30|                         0|         59|    1|
| 15|                       5|                                                                     166|                              72|                               19|                           175|                                            26|                         1|         51|    1|
| 16|                       7|                                                                     100|                               0|                                0|                             0|                                            30|                         0|         32|    1|
| 17|                       0|                                                                     118|                              84|                               47|                           230|                                            46|                         1|         31|    1|
| 18|                       7|                                                                     107|                              74|                                0|                             0|                                            30|                         0|         31|    1|
| 19|                       1|                                                                     103|                              30|                               38|                            83|                                            43|                         0|         33|    0|
| 20|                       1|                                                                     115|                              70|                               30|                            96|                                            35|                         1|         32|    1|
+---+------------------------+------------------------------------------------------------------------+--------------------------------+---------------------------------+------------------------------+----------------------------------------------+--------------------------+-----------+-----+
only showing top 20 rows

# **Drop Null Value**

In [ ]:
df = df.na.drop()
df.show()

+---+------------------------+------------------------------------------------------------------------+--------------------------------+---------------------------------+------------------------------+----------------------------------------------+--------------------------+-----------+-----+
| id|Number of times pregnant|Plasma glucose concentration a 2 hours in an oral glucose tolerance test|Diastolic blood pressure (mm Hg)| Triceps skin fold thickness (mm)|2-Hour serum insulin (mu U/ml)|Body mass index (weight in kg/(height in m)^2)|Diabetes pedigree function|Age (years)|label|
+---+------------------------+------------------------------------------------------------------------+--------------------------------+---------------------------------+------------------------------+----------------------------------------------+--------------------------+-----------+-----+
|  1|                       6|                                                                     148|                              72|                               35|                             0|                                            34|                         1|         50|    1|
|  2|                       1|                                                                      85|                              66|                               29|                             0|                                            27|                         0|         31|    0|
|  3|                       8|                                                                     183|                              64|                                0|                             0|                                            23|                         1|         32|    1|
|  4|                       1|                                                                      89|                              66|                               23|                            94|                                            28|                         0|         21|    0|
|  5|                       0|                                                                     137|                              40|                               35|                           168|                                            43|                         2|         33|    1|
|  6|                       5|                                                                     116|                              74|                                0|                             0|                                            26|                         0|         30|    0|
|  7|                       3|                                                                      78|                              50|                               32|                            88|                                            31|                         0|         26|    1|
|  8|                      10|                                                                     115|                               0|                                0|                             0|                                            35|                         0|         29|    0|
|  9|                       2|                                                                     197|                              70|                               45|                           543|                                            31|                         0|         53|    1|
| 10|                       8|                                                                     125|                              96|                                0|                             0|                                             0|                         0|         54|    1|
| 11|                       4|                                                                     110|                              92|                                0|                             0|                                            38|                         0|         30|    0|
| 12|                      10|                                                                     168|                              74|                                0|                             0|                                            38|                         1|         34|    1|
| 13|                      10|                                                                     139|                              80|                                0|                             0|                                            27|                         1|         57|    0|
| 14|                       1|                                                                     189|                              60|                               23|                           846|                                            30|                         0|         59|    1|
| 15|                       5|                                                                     166|                              72|                               19|                           175|                                            26|                         1|         51|    1|
| 16|                       7|                                                                     100|                               0|                                0|                             0|                                            30|                         0|         32|    1|
| 17|                       0|                                                                     118|                              84|                               47|                           230|                                            46|                         1|         31|    1|
| 18|                       7|                                                                     107|                              74|                                0|                             0|                                            30|                         0|         31|    1|
| 19|                       1|                                                                     103|                              30|                               38|                            83|                                            43|                         0|         33|    0|
| 20|                       1|                                                                     115|                              70|                               30|                            96|                                            35|                         1|         32|    1|
+---+------------------------+------------------------------------------------------------------------+--------------------------------+---------------------------------+------------------------------+----------------------------------------------+--------------------------+-----------+-----+
only showing top 20 rows

In [ ]:
vecAssembler = VectorAssembler(inputCols=FEATURES_COL, outputCol="features")
df_logistic = vecAssembler.transform(df).select('label', 'features')
df_logistic.show()

+-----+--------------------+
|label|            features|
+-----+--------------------+
|    1|[6.0,148.0,72.0,3...|
|    0|[1.0,85.0,66.0,29...|
|    1|[8.0,183.0,64.0,0...|
|    0|[1.0,89.0,66.0,23...|
|    1|[0.0,137.0,40.0,3...|
|    0|[5.0,116.0,74.0,0...|
|    1|[3.0,78.0,50.0,32...|
|    0|(7,[0,1,5],[10.0,...|
|    1|[2.0,197.0,70.0,4...|
|    1|(7,[0,1,2],[8.0,1...|
|    0|[4.0,110.0,92.0,0...|
|    1|[10.0,168.0,74.0,...|
|    0|[10.0,139.0,80.0,...|
|    1|[1.0,189.0,60.0,2...|
|    1|[5.0,166.0,72.0,1...|
|    1|(7,[0,1,5],[7.0,1...|
|    1|[0.0,118.0,84.0,4...|
|    1|[7.0,107.0,74.0,0...|
|    0|[1.0,103.0,30.0,3...|
|    1|[1.0,115.0,70.0,3...|
+-----+--------------------+
only showing top 20 rows

**SPLITTING DATASET**

In [ ]:
data_train, data_test=df_logistic.randomSplit([0.8,0.2], 24)

**MODELING**

In [ ]:
from pyspark.ml.classification import LogisticRegression

In [ ]:
lr=LogisticRegression(featuresCol='features', labelCol='label')
lr_model = lr.fit(data_train)

#Transform model to data test
lr_result = lr_model.transform(data_test)

In [ ]:
#view id, label, prediction and probability from result of modelling
lr_result.select('label', 'prediction', 'probability').show(5)

+-----+----------+--------------------+
|label|prediction|         probability|
+-----+----------+--------------------+
|    0|       0.0|[0.93331400166612...|
|    0|       0.0|[0.91797488997918...|
|    0|       0.0|[0.67829077120461...|
|    0|       0.0|[0.93443022463795...|
|    0|       1.0|[0.39032984046243...|
+-----+----------+--------------------+
only showing top 5 rows

***EVALUATION***

In [ ]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator, MulticlassClassificationEvaluator

In [ ]:
#Evaluate model by checking accuracy and AUC value
lr_eval = BinaryClassificationEvaluator(rawPredictionCol="probability", labelCol="label")
lr_eval2= MulticlassClassificationEvaluator(predictionCol="prediction", labelCol="label")
lr_AUC  = lr_eval.evaluate(lr_result)
lr_ACC  = lr_eval2.evaluate(lr_result, {lr_eval2.metricName:"accuracy"})

print("Logistic Regression Performance Measure")
print("Accuracy = %0.2f" % lr_ACC)
print("AUC = %.2f" % lr_AUC)

Logistic Regression Performance Measure
Accuracy = 0.75
AUC = 0.87